
.vs/Patterns.Mediator/v16/

.idea/.idea.Patterns.Mediator/.idea/

Patterns.Mediator.ConsoleApp/bin/Debug/net5.0/

Patterns.Mediator.ConsoleApp/bin/Debug/netcoreapp3.1/

Patterns.Mediator.ConsoleApp/obj/Debug/net5.0/

Patterns.Mediator.ConsoleApp/obj/Debug/netcoreapp3.1/

Patterns.Mediator.Tests/bin/Debug/net5.0/

Patterns.Mediator.Tests/bin/Debug/netcoreapp3.1/

Patterns.Mediator.Tests/obj/Debug/net5.0/

Patterns.Mediator.Tests/obj/Debug/netcoreapp3.1/

Patterns.Mediator.Tests/obj/

Patterns.Mediator.ConsoleApp/obj/

*.user
